.container {
  width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.col {
  width: 100%;
  margin-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 20px 10px;
}

/* incio index.html */

/* inicio header*/
header {
  border-bottom: 3px solid #333;
}
header .col {
  padding: 0px;
  margin: 0px;
}
/* fim header */

/* incio lista_e_funcoes*/
.lista_e_funcoes .row .linha {
  border-right: 3px solid #333;
}

.lista_e_funcoes .row .col .row .gerenciadores {
  display: flex;
  justify-content: space-around;
}

.lista_e_funcoes .row .col .status {
  width: 185px;
  padding: 0px;
  margin: 0px;
}
/*fim lista_e_funcoes*/

/* fim index.html*/
