li{list-style: none;}

.tela1{
    display: flex;
    width: 1200px;
    flex-direction: row;
    margin-left: 70px;

}
.coluna{
    padding: 20px;
    margin: 5px;
    width: 600px;
}
.titulo{
    margin-left: 160px;
}
.a{
    display: flex;
    justify-content: center;
}
.c{
    display: flex;
    justify-content: space-between;
}
.icon{
    margin-top: 25px;
}